<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Jakub Baszanowski</title>
  <link rel="stylesheet" href="static/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="static/favicon.png">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Jakub.</h1>
      <h2>a <span class="pro">pro</span>grammer.</h2>
    </div>
    <img class="bottom-cloud" src="static/cloud.png" alt="cloud">
    <img class="mountain" src="static/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img src="static/kuba.png" width=200 alt="kuba-profile-img">
      <h2>Hello.</h2>
      <p class="intro">I am a Python Developer and a Technical Writer. I ❤️ coffee and many other things.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

        <h3>Design & Development</h3>
        <p>I started learning to code around 3 months ago because I wanted to get more satisfaction from my work. Over time, I found out that programming is much more interesting than I thought. In fact, it turned out that it is one of my new passions in life.</p>

      </div>
      <div class="skill-row">
        <img class="chilli-img" src="static/sushi.png" alt="chillies-img">

        <h3>Sushi Demon</h3>
        <p>But my best skill is actually in eating sushi. I am the undisputed king of stuffing myself with sushi. Devouring them is also one of my passions.</p>

      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you love sushi as much as I do.</h3>
      <p class="contact-message">Love sushi as much as I do? Let's talk about how awesome they are! We can code while we sushi!</p>
      <a class="btn" href="mailto:ilove@hotwings.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/jakub-baszanowski">LinkedIn</a>
    <a class="footer-link" href="https://www.facebook.com/baszanowski.jakub/">Facebook</a>
    <a class="footer-link" href="https://github.com/baszanowskijakub">GitHub</a>
    <p class="copyright">© 2019 Angela Yu @ The App Brewery.</p>
  </div>
</body>

</html>
